<div class="list-container p-4 shadow-sm bg-white rounded">
    <h3 class="text-primary text-center">Mensajes Registrados</h3>

    <!-- Filtro -->
    <div class="d-flex align-items-center my-3">
        <label class="me-2 fw-bold">Filtrar por tipo:</label>
        <select class="form-select w-auto" [(ngModel)]="filterType" (change)="updateLogs()">
            <option value="all">Todos</option>
            <option value="log">Log</option>
            <option value="warn">Warning</option>
            <option value="error">Error</option>
        </select>
    </div>
    <!-- Lista de Mensajes -->
    <ul class="list-group" *ngIf="logs.length > 0; else emptyList">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let log of logs"
            [ngClass]="{'text-success': log.type === 'log', 'text-warning': log.type === 'warn', 'text-danger': log.type === 'error'}">
            <strong>{{ log.type.toUpperCase() }}:</strong>
            <span class="flex-grow-1 ms-2">{{ log.message }}</span>
            <small class="text-muted">{{ log.timestamp | date:'short' }}</small>
        </li>
    </ul>

    <ng-template #emptyList>
        <p>No hay mensajes en esta categoría.</p>
    </ng-template>
</div>