<div class="list-container p-4 shadow-sm bg-white rounded">
    <h3 class="text-primary text-center">Mensajes Registrados</h3>

    <!-- Filtro -->
    <div class="d-flex align-items-center my-3">
        <label class="me-2 fw-bold">Filtrar por tipo:</label>
        <select class="form-select w-auto" [(ngModel)]="filterType" (change)="updateLogs()">
            <option value="all">Todos</option>
            <option value="log">Log</option>
            <option value="warn">Warning</option>
            <option value="error">Error</option>
        </select>
    </div>
    <!-- Lista de Mensajes -->
    <ul class="list-group" *ngIf="logs.length > 0; else emptyList">
        <li class="list-group-item d-flex flex-column" *ngFor="let log of logs"
            [ngClass]="{'text-success': log.type === 'log', 'text-warning': log.type === 'warn', 'text-danger': log.type === 'error'}">
            <div class="d-flex justify-content-between align-items-center">
                <strong>{{ log.type.toUpperCase() }}:</strong>
                <small class="text-muted">{{ log.fechaRegistro | date:'short' }}</small>
            </div>
            <div class="mt-2">
                <strong>Empleado:</strong> {{ log.empleado }}
            </div>
            <div>
                <strong>Cliente:</strong> {{ log.cliente }}
            </div>
            <div>
                <strong>Fecha del Evento:</strong> {{ log.fechaEvento | date:'short' }}
            </div>
            <div>
                <strong>Mensaje:</strong> {{ log.message }}
            </div>
        </li>
    </ul>

    <ng-template #emptyList>
        <p>No hay mensajes en esta categoría.</p>
    </ng-template>
</div>