<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 shadow-sm">
    <div class="container-fluid">
        <h1 class="text-primary fw-bold mb-0">Registro de Mensajes - {{ username }}</h1>
        <div class="btn-group">
            <a class="btn btn-outline-dark" [routerLink]="['/']">Usuarios</a>
            <a class="btn btn-outline-primary" [routerLink]="['/form']">Crear evento</a>
            <a class="btn btn-outline-info" [routerLink]="['/list']">Registro de eventos</a>
        </div>
    </div>
</nav>